<div class="container">
	<div class="hero-unit" style = "position:absolute;top:120px;left:180px;" >
		<h2 style = "color:#990033">Muafiyet Sınavı</h2>
		 <p ><a class="btn btn-warning btn-large" style = "position:relative;top:30px;left:40px;" >Learn more &raquo;</a></p>
	</div>
	
</div>

<div class="well navbar-fixed-bottom">
   <div class="container">
      <div class="row">
         <div class="span4 offset4">
            <span class="copyright" >Copyright © BETÜL SARAL 2012</span>
          </div>
       </div>
    </div>
</div>

