// Place all the styles related to the Ankets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "jquery.countdown.css";
