// Place all the styles related to the Ankets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "jquery.countdown.css";

div.hero-unit.konum {
	position:absolute;top:80px;left:330px;width:6in;
 }

div.hero-unit.konum2 {
	position:absolute;top:80px;left:330px;
 }

div.hero-unit.konum3 {
	position:absolute;top:80px;left:420px;
 }

span.yazi {
	position:relative;left:100px;
 }

span.yazi2 {
	position:relative;left:100px;
 }
	
