// Place all the styles related to the Ankets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.hero-unit.konum {
	position:relative;top:1080px;left:330px;
 }

div.hero-unit.konum2 {
	position:absolute;top:1080px;left:330px;
 }

div.hero-unit.konum3 {
	position:absolute;top:1080px;left:420px;
 }
 
div.hero-unit.konum4 {
	position:absolute;top:120px;left:420px;
 }

span.yazi {
	position:relative;left:100px;
 }

span.yazi2 {
	position:relative;left:100px;
 }


