<div class="container">
	<div class="hero-unit" style = "position:absolute;top:80px;left:330px;" >
		<h2 style = "color:#990033">Muafiyet Sınavına Girmek İster misiniz ? </h2>
	</div>
	<div class="row">
		<div class="span10 offset3">
			<div style= "position:absolute;top:280px">

				<%= form_for(@anket) do |f| %>
				 <% for answer in Anket.find(:all) %>
					<div>
					  <%= check_box_tag "anket[answer_ids][]", answer.id %>
					  <%= answer.answer %>
					  
					</div>
				<% end %>
				
				  <div class="actions">
					<%= f.submit %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>
