<div class="container">

	<div class="hero-unit" style = "position:absolute;top:80px;left:330px;" >
		
			<h2 style = "color:#990033"> Cevabınızı Değiştirme Süreniz Dolmuştur. </h2>
		
	</div>
	
	<%= button_to "ÇIKIŞ", logout_url, :class => 'btn btn-large btn-danger', style: "width:120px;position:relative;top:300px;left:4in;" %>

</div>
