<div class="container">
	<div class="hero-unit" style = "position:absolute;top:80px;left:330px;" >
		<h2 style = "color:#990033">Muafiyet Sınavına Girmek İster misiniz ? </h2>
	</div>
	<div class="row">
		<div class="span10 offset3">
			<div style= "position:absolute;top:280px">
				<% for anket in Anket.find(:all) %>
					<%= button_to anket.answer, { :action => "show", :id => anket.id, :method => :get }, :class => 'btn btn-large btn-warning', style: "width:120px;position:relative;left:150px;" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
