

<div class="container">

	<div class="hero-unit" style = "position:absolute;top:80px;left:330px;" >
		
		<h2 style = "color:#990033">Cevabınız <span style="color:green;font-weight:bold;"><%= @anket.answer  %></span>  Olarak Kaydedilmiştir. </h2>
		
		
	</div>
	
	<div class="row" style= "position:absolute;top:280px;left:600px;">
	
        <%= button_to "DEĞİŞTİR", anket_path, :class => 'btn btn-large btn-success', style: "width:120px;position:relative;top:50px;left:-1.5in;" %>
        <%= button_to "ÇIKIŞ", logout_url, :class => 'btn btn-large btn-danger', style: "width:120px;position:relative;top:-10px;left:1.5in;" %>
        
    </div>

</div>

<div class="well navbar-fixed-bottom">
   <div class="container">
      <div class="row">
         <div class="span4 offset4">
            <span class="copyright" >Copyright © BETÜL SARAL 2012</span>
          </div>
       </div>
    </div>
</div>



