<div class="container">
	<div class="hero-unit" style = "position:absolute;top:80px;left:330px;" >
		<h2 style = "color:#990033">Cevabınız <spam style="color:green;font-weight:bold;"><%= @anket.answer  %></spam>  Olarak Kaydedilmiştir.  </h2>
	</div>
	
</div>

